<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

    <style type="text/css">
        h1,div{
            margin: 0px;
            padding: 0px;
        }
        body {

      padding-top: 70px;
    }
        .login-containt  {
                margin: 0 auto;

                width: 40%;
            }
            .outer-form{
                padding: 0px 5px;
            }
             .login-containt h1 {
                text-align: center;
                font-weight: bold;
                font-size: 26px;
                padding-bottom: 10px;


            }

    @media screen and (max-width: 600px){
        .login-containt{
        width: 100%
    }
    }
        </style>

</head>
<body>
<!-- Fixed navbar -->
<!--        <nav class="navbar navbar-default navbar-fixed-top">-->
<!--          <div class="container">-->
<!--            <div class="navbar-header">-->
<!--              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
<!--                <span class="sr-only">Toggle navigation</span>-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--              </button>-->
<!--              <a class="navbar-brand" href="#">Project name</a>-->
<!--            </div>-->
<!--            <div id="navbar" class="navbar-collapse collapse">-->
<!--              <ul class="nav navbar-nav">-->
<!--                <li class="active"><a href="#">Home</a></li>-->
<!--                <li><a href="#about">About</a></li>-->
<!--                <li><a href="#contact">Contact</a></li>-->
<!--                <li class="dropdown">-->
<!--                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
<!--                  <ul class="dropdown-menu">-->
<!--                    <li><a href="#">Action</a></li>-->
<!--                    <li><a href="#">Another action</a></li>-->
<!--                    <li><a href="#">Something else here</a></li>-->
<!--                    <li role="separator" class="divider"></li>-->
<!--                    <li class="dropdown-header">Nav header</li>-->
<!--                    <li><a href="#">Separated link</a></li>-->
<!--                    <li><a href="#">One more separated link</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--              </ul>-->
<!--              <ul class="nav navbar-nav navbar-right">-->
<!--                <li><a href="../navbar/">Default</a></li>-->
<!--                <li><a href="../navbar-static-top/">Static top</a></li>-->
<!--                <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>-->
<!--              </ul>-->
<!--            </div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
<!--          </div>-->
<!--        </nav>-->
<div class="container">
    <div class="jumbotron login-containt">
        <div class="outer-form">

            <h1>Login</h1>

            <form class="form-vertical" role="form" method="post" action="/signup">
                <div class="row">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input type="text" name="first_name" id="first_name" placeholder="First Name" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input type="text" name="last_name" id="last_name" placeholder="Last name" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group input-group">
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input type="email" name="email" id="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" name="password" id="password" placeholder="Password" class="form-control">
                    </div>

                </div>
                <div class="row">
                    <!--                            <div class="form-group">      -->
                    <!--                                <input type="checkbox" aria-label="..."> Remember Me            -->
                    <!--                                <a href="forgot_password" class="pull-right">I forgot my password</a><br>-->
                    <!--                            </div>&lt;!&ndash; /input-group &ndash;&gt;-->
                </div>

                <div class="row text-center">
                    <div class="form-group ">
                        <input type="submit" class="w3-button w3-black" style="width: 100%" value="Signup"  name="">
                    </div>
                </div>
                <div class="row text-center">
                    OR
                </div>
                <div class="row">
                    <div class="form-group">
                        <a href="/login" class="text-center">Already have an account</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>